<%- include("./partials/head.ejs") %> 
<body id="client" class="client_cart">
    <%- include("./partials/client_header.ejs") %> 
    <main class="px-0">
        <div class="row" id="cart">
            <div class="col-7">
                <form>
                    <section id="direccionFacturacion">
                        <h3>Dirección de Facturación</h3>
                        <div class="row">
                            <div class="col-6 position-relative mb-4">
                                <label for="firstName" class="form-label floating-label">First Name</label>
                                <input type="text" class="form-control" id="firstName" aria-describedby="emailHelp">
                            </div>
                            <div class="col-6 position-relative mb-4">
                                <label for="lastName" class="form-label floating-label">Last Name</label>
                                <input type="text" class="form-control" id="lastName">
                            </div>
                        </div>
                        <div class="form-group position-relative mb-4">
                            <label for="emailAddress" class="form-label floating-label">Email address</label>
                            <input type="email" class="form-control" id="emailAddress" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group position-relative mb-4">
                            <label for="address" class="form-label floating-label">Dirección</label>
                            <input type="text" class="form-control" id="address">
                        </div>
                        <div class="form-group mb-4">
                            <input type="text" class="form-control" id="address2">
                        </div>
                        <div class="row">
                            <div class="col-6 position-relative mb-4">
                                <label for="provincia" class="form-label floating-label">Provincia</label>
                                <select name="provincia" class="form-control" id="provincia">
                                    <option>seleccionar opcion</option>
                                    <option value="bsas">Buenos Aires</option>
                                </select>
                            </div>
                            <div class="col-6 position-relative mb-4">
                                <label for="ciudad" class="form-label floating-label">Ciudad</label>
                                <input type="text" class="form-control" id="ciudad">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 position-relative mb-4">
                                <label for="codPostal" class="form-label floating-label">Codigo Postal</label>
                                <input type="number" class="form-control" id="codPostal">
                            </div>
                            <div class="col-6 position-relative mb-4">
                                <label for="telefono" class="form-label floating-label">Teléfono</label>
                                <input type="number" class="form-control" id="telefono">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" class="form-control-checkbox" id="checkbox1">
                            <label for="checkbox1" class="form-label">Mi dirección es también la dirección de facturación</label>
                        </div>
                        <div class="form-group  mb-3">
                            <input type="checkbox" class="form-control-checkbox" id="checkbox2">
                            <label for="checkbox2" class="form-label">Crear una cuenta</label>
                        </div>
                        <div class="row">
                            <div class="col-6 position-relative">
                                <label for="password" class="form-label floating-label">Contraseña</label>
                                <input type="password" class="form-control" id="password" aria-describedby="emailHelp">
                            </div>
                            <div class="col-6 position-relative">
                                <label for="password2" class="form-label floating-label">Confirme Contraseña</label>
                                <input type="password" class="form-control" id="password2">
                            </div>
                        </div>
                        <span>¿Ya tenés una cuenta? <a>Iniciá sesión aquí</a></span>
                    </section>
                    <section id="metodoPago">
                        <h3>Método de Pago</h3>
                        <div class="mercadopago">
                            <input type="checkbox" class="form-control-checkbox">
                            <label for="">MercadoPago</label>
                            <p>Serás redireccionado al sitio de MercadoPago</p>
                            <img src="/assets/img/PayPal.png" class="paypal" alt="">
                        </div>
                        <div class="tarjetas">
                            <input type="checkbox" class="form-control-checkbox">
                            <label for="">Tarjeta de Crédito/Débito</label>
                            <div class="row">
                                <div class="col-7 position-relative my-4">
                                    <label for="" class=" floating-label">Número de tarjeta</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-3 position-relative my-4">
                                    <label for="" class=" floating-label">Vencimiento</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-7 position-relative mb-4">
                                    <label for="" class=" floating-label">Codigo de seguridad</label>
                                    <input type="number" class="form-control">
                                </div>
                                <img src="/assets/img/cards.png" class="cards" alt="">
                            </div>
                        </div>
                        <p class="seguridad">
                            <img src="/assets/img/seguridad-icon.png" class="icon"> <span>Protegemos su información de pago mediante encriptación para brindar seguridad a nivel bancario.</span>
                        </p>
                        
                    </section>
                </form>
            </div>
            <div class="col-5" id="sidebar-cart">
                <section id="resumenCompra">
                    <div class="accordion" id="resumenCompra-accordion">
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <p>Resumen de compra <br> <span>3 productos agregados</span></p>
                            </button>
                          </h2>
                          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#resumenCompra-accordion">
                            <div class="accordion-body">
                            <!-- productos en carrito -->
                            <% carrito_lista.forEach(cart => { %>
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="/assets/img/cart-default.png" class="w-100" alt="">
                                    </div>
                                    <div class="col-md-9">
                                        <div class="d-flex justify-content-between">
                                            <p>
                                                <%- cart.producto.dataValues.productName %><br>
                                                <span><b>Codigo de barra:</b><%- cart.producto.dataValues.barCode %></span>
                                            </p>
                                            <button class="btn">
                                                <i class="fa-solid fa-xmark fa-lg"></i>
                                            </button>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex justify-content-center align-items-center">
                                                <button class="btn btn-minus-quantity">
                                                    <i class="fa-solid fa-minus"></i>
                                                </button>
                                                <input type="number" value="<%- cart.quantity %>" class="form-control quantity">
                                                <button class="btn btn-plus-quantity">
                                                    <i class="fa-solid fa-plus"></i>
                                                </button>
                                            </div>
                                            <div>
                                                <p class="original-price">$<%- cart.producto.dataValues.price %></p>
                                                <p class="discount-price">$245,78</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                            
                            <!-- fin de productos en carrito -->
                            </div>
                          </div>
                        </div>
                    </div>
                    
                </section>
                <section id="descuentos">
                    <div class="accordion" id="descuentos-accordion">
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <p>Codigo de descuento</p>
                            </button>
                          </h2>
                          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#descuentosAccordion">
                            <div class="accordion-body position-relative my-3">
                            <!-- productos en carrito -->
                                <label for="" class="floating-label">Ingresá tu cupón</label>
                                <input type="text" class="form-control">
                            <!-- fin de productos en carrito -->
                            </div>
                          </div>
                        </div>
                    </div>
                </section>
                <section id="resumen">
                    <div class="accordion" id="descuentos-accordion">
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <p>Resumen de Facturación</p>
                            </button>
                          </h2>
                          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#descuentosAccordion">
                            <div class="accordion-body">
                            <!-- productos en carrito -->
                                <div class="row justify-content-between">
                                    <div class="col-md-8">Subtotal</div>
                                    <div class="col-md-4 text-end">$3720,27</div>
                                    <div class="col-md-8">Descuento</div>
                                    <div class="col-md-4 text-end">-$749.99</div>
                                    <div class="col-md-8">Texto ejemplo</div>
                                    <div class="col-md-4 text-end">$259.99</div>
                                    <div class="col-md-8">Envío</div>
                                    <div class="col-md-4 text-end">$0.00</div>
                                    <div class="col-md-8">IVA</div>
                                    <div class="col-md-4 text-end">$228.72</div>
                                </div>
                                <hr>
                                <div class="row justify-content-between">
                                    <h4 class="col-md-8">Total</h4>
                                    <h4 class="col-md-4">$3,439.00</h4>
                                </div>
                                <div class="form-group position-relative">
                                    <label for="" class="floating-label">Comentario</label>
                                    <textarea name="" id="" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" class="form-control-checkbox">
                                    <span>Haga click aquí para aceptar nuestros <a href="#">Términos y Condiciones</a></span>
                                </div>
                                <button class="btn btn-primary w-100 btn-sm">Pagar $3,439.00</button>
                                <img src="/assets/img/Norton Icon.png" class="btn-norton" alt="">
                            <!-- fin de productos en carrito -->
                            </div>
                          </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>


        <img src="/assets/img/scanning.png" class="w-100 my-5" alt="">

        <!-- CLIENTES -->

        <img src="/assets/img/desktop-clients-1.png" class="w-100 my-4" alt="">
        <p class="title-productos mt-5">
            Ofertas del día!
        </p>
        <div class="row justify-content-around">
            <div class="col-2 card-producto">
                <img src="/assets/img/ofertas1.png" alt="">
                <p>
                    Inalsa Freidora Fry-Light-1400W
                </p>
                <div class="row">
                    <div class="col-8 text-start">$999,99</div>
                    <div class="col-4 text-danger text-end">-40% off</div>
                </div>
                <button class="btn-naranja btn mx-auto d-block mt-3 w-75">Agregar</button>

            </div>
            <div class="col-2 card-producto">
                <img src="/assets/img/ofertas1.png" alt="">
                <p>
                    Inalsa Freidora Fry-Light-1400W
                </p>
                <div class="row">
                    <div class="col-8 text-start">$999,99</div>
                    <div class="col-4 text-danger text-end">-40% off</div>
                </div>
                <button class="btn-naranja btn mx-auto d-block mt-3 w-75">Agregar</button>

            </div>
            <div class="col-2 card-producto">
                <img src="/assets/img/ofertas1.png" alt="">
                <p>
                    Inalsa Freidora Fry-Light-1400W
                </p>
                <div class="row">
                    <div class="col-8 text-start">$999,99</div>
                    <div class="col-4 text-danger text-end">-40% off</div>
                </div>
                <button class="btn-naranja btn mx-auto d-block mt-3 w-75">Agregar</button>
            </div>
            <div class="col-2 card-producto">
                <img src="/assets/img/ofertas1.png" alt="">
                <p>
                    Inalsa Freidora Fry-Light-1400W
                </p>
                <div class="row">
                    <div class="col-8 text-start">$999,99</div>
                    <div class="col-4 text-danger text-end">-40% off</div>
                </div>
                <button class="btn-naranja btn mx-auto d-block mt-3 w-75">Agregar</button>
            </div>
            <div class="col-2 card-producto">
                <img src="/assets/img/ofertas1.png" alt="">
                <p>
                    Inalsa Freidora Fry-Light-1400W
                </p>
                <div class="row">
                    <div class="col-8 text-start">$999,99</div>
                    <div class="col-4 text-danger text-end">-40% off</div>
                </div>
                <button class="btn-naranja btn mx-auto d-block mt-3 w-75">Agregar</button>
            </div>
        </div>

        <p class="title-productos mt-5">
            Tus productos buscados
        </p>
        <div class="row justify-content-around">
            <div class="col-2 card-producto">
                <img src="/assets/img/buscados1.png" alt="">
                <p>
                    Inalsa Freidora Fry-Light-1400W
                </p>
                <div class="row">
                    <div class="col-8 text-start">$999,99</div>
                    <div class="col-4 text-danger text-end">-40% off</div>
                </div>
                <button class="btn-naranja btn mx-auto d-block mt-3 w-75">Agregar</button>

            </div>
            <div class="col-2 card-producto">
                <img src="/assets/img/buscados1.png" alt="">
                <p>
                    Inalsa Freidora Fry-Light-1400W
                </p>
                <div class="row">
                    <div class="col-8 text-start">$999,99</div>
                    <div class="col-4 text-danger text-end">-40% off</div>
                </div>
                <button class="btn-naranja btn mx-auto d-block mt-3 w-75">Agregar</button>

            </div>
            <div class="col-2 card-producto">
                <img src="/assets/img/buscados1.png" alt="">
                <p>
                    Inalsa Freidora Fry-Light-1400W
                </p>
                <div class="row">
                    <div class="col-8 text-start">$999,99</div>
                    <div class="col-4 text-danger text-end">-40% off</div>
                </div>
                <button class="btn-naranja btn mx-auto d-block mt-3 w-75">Agregar</button>
            </div>
            <div class="col-2 card-producto">
                <img src="/assets/img/buscados1.png" alt="">
                <p>
                    Inalsa Freidora Fry-Light-1400W
                </p>
                <div class="row">
                    <div class="col-8 text-start">$999,99</div>
                    <div class="col-4 text-danger text-end">-40% off</div>
                </div>
                <button class="btn-naranja btn mx-auto d-block mt-3 w-75">Agregar</button>
            </div>
            <div class="col-2 card-producto">
                <img src="/assets/img/buscados1.png" alt="">
                <p>
                    Inalsa Freidora Fry-Light-1400W
                </p>
                <div class="row">
                    <div class="col-8 text-start">$999,99</div>
                    <div class="col-4 text-danger text-end">-40% off</div>
                </div>
                <button class="btn-naranja btn mx-auto d-block mt-3 w-75">Agregar</button>
            </div>
        </div>

        <p class="title-productos mt-5">
            Promociones en Muebles
        </p>
        <div class="row justify-content-around">
            <div class="col-2 card-producto">
                <img src="/assets/img/muebles1.png" alt="">
                <p>
                    Inalsa Freidora Fry-Light-1400W
                </p>
                <div class="row">
                    <div class="col-8 text-start">$999,99</div>
                    <div class="col-4 text-danger text-end">-40% off</div>
                </div>
                <button class="btn-naranja btn mx-auto d-block mt-3 w-75">Agregar</button>

            </div>
            <div class="col-2 card-producto">
                <img src="/assets/img/muebles1.png" alt="">
                <p>
                    Inalsa Freidora Fry-Light-1400W
                </p>
                <div class="row">
                    <div class="col-8 text-start">$999,99</div>
                    <div class="col-4 text-danger text-end">-40% off</div>
                </div>
                <button class="btn-naranja btn mx-auto d-block mt-3 w-75">Agregar</button>

            </div>
            <div class="col-2 card-producto">
                <img src="/assets/img/muebles1.png" alt="">
                <p>
                    Inalsa Freidora Fry-Light-1400W
                </p>
                <div class="row">
                    <div class="col-8 text-start">$999,99</div>
                    <div class="col-4 text-danger text-end">-40% off</div>
                </div>
                <button class="btn-naranja btn mx-auto d-block mt-3 w-75">Agregar</button>
            </div>
            <div class="col-2 card-producto">
                <img src="/assets/img/muebles1.png" alt="">
                <p>
                    Inalsa Freidora Fry-Light-1400W
                </p>
                <div class="row">
                    <div class="col-8 text-start">$999,99</div>
                    <div class="col-4 text-danger text-end">-40% off</div>
                </div>
                <button class="btn-naranja btn mx-auto d-block mt-3 w-75">Agregar</button>
            </div>
            <div class="col-2 card-producto">
                <img src="/assets/img/muebles1.png" alt="">
                <p>
                    Inalsa Freidora Fry-Light-1400W
                </p>
                <div class="row">
                    <div class="col-8 text-start">$999,99</div>
                    <div class="col-4 text-danger text-end">-40% off</div>
                </div>
                <button class="btn-naranja btn mx-auto d-block mt-3 w-75">Agregar</button>
            </div>
        </div>
    </main>

</body>
</html>